.Track {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
	margin-top: 1rem;
	border-bottom: 1px solid #cccc;
}

.Track-information {
	padding-left: 1rem;
}

.Track-action {
	background: transparent;
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
}

.Track-action:hover {
	color: #cccc;
}
