.App {
	text-align: center;
}

body,
html #root {
	height: 100%;
	margin: 0 auto;
}

html {
	font-size: 18px;
}

body {
	background-color: #000;
	background-image: url(../App/background_jamming.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h1 {
	padding: 0.77rem 0;
	background-color: #222831;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-size: 1.88rem;
	color: #fff;
	margin: 0;
}

.highlight {
	color: #38e54d;
}

h2 {
	color: #fff;
}
